body{
  background-color: rgb(33,37,41);
  color: white;
  margin: 0;
  height:100vh;
  box-sizing:border-box;
}

.nav-item{
  color: white;
  text-decoration: none;
  margin-right: 20px;
}


/* ::before : 가상 선택자 - 존재하지 않은 요소를  존재하는 요소처럼 보여지게 하는 선택자 */
.main-poster::before{
  position:absolute;
  left : 0;
  width : 100%;
  height:30%;
  background : linear-gradient(to left, black, transparent);
}

.main-poster{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.poster{
  margin-left: 20px;
  height: 30%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.main-loading{
  position:  absolute;
  left : 50%;
  top:  50%;
}

.react-multi-carousel-track{
  width : 1000px;
}

.react-multi-carousel-track > li{
  width : 200px;
  height: 300px;
  margin-left: 5px;
  margin-right: 15px;
}



.btn-genre{
  width : 70px;
  height : 25px;
  text-align : center;
  /* line-height : 15px; */
  margin-left: 7px;
  margin-top : 5px;
}

.card-p:hover > .movie-card{
  opacity: 0.3;
  cursor: pointer;

}

.card-p{
  width :200px;
}

.movie-card{
  position: relative;
  
}


.movie-detail{
  display: none;
  position: absolute;
  left : 30px;
  top : 30px;
  
  /* height: 270px; */
}


.movie-card:hover + .movie-detail{
  display: block;
  
  
 }

 .movie-detail:hover{
  display: block;
  cursor: pointer;
  
 }


.genre-btn{
  margin-left: 10px;
  margin-top: 15px;
}

.react-multi-carousel-list > ul > li{
  width : 200px !important;
  height: 300px;
  flex: 1 1 !important;
}

.movie-container{
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center; */
}

.movie-info{
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
}

.movie-poster{
  width: 50%;
  height: 100%;
  height: 900px;
  background-repeat: no-repeat;
  background-position: center;
  
}

.movie-script{
  margin-top: 50px;
  width: 40%;
  height: 50%;
}

.movie-review{
  width: 82%;
  /* height: 100vh; */
  border: 2px solid white;
  margin: 0 auto;
  /* margin-bottom: 100px; */
}


.movie-filter-box{
  
  width: 100vw;
  height : 100vh;
  display: flex;
  
}

.movie-filter-ui{
  width:30%;
  height: 100%;
  text-align: center;
}

.movie-filter-result{
  width:70%;
  height: 100%;
  text-align: center;
  margin-right: 50px;
  /* display: flex; */

}